<h1> <center>Тех. задание </center> </h1>

<pre>
	                      ЗАДАЧА:
Разработать приложение для составления ежедневных отчетов сотрудниками организации.

УСЛОВИЯ:
1) Три типа аккаунтов – сотрудник, менеджер и администратор.
2) Сотрудник добавляет /редактирует отчеты.
3) Менеджер просматривает отчеты и добавляет сотрудников в приложение.
4) Администратор редактирует данные об организации и добавляет менеджеров/сотрудников в приложение.

ПОЯСНЕНИЯ:
Администратор
Аккаунт администратора создается автоматически при установке приложения.
Логин/пароль: admin/admin

Менеджер
	Создает/редактирует структурные подразделение.
Создает/редактирует  сотрудников и включает их в одно или более подразделений.
Просматривает отчеты сотрудников.
Аккаунт содержит следующую информацию:
	- ФИО
	- логин
	- пароль

Сотрудник
Создает/редактирует отчеты (отредактирован может быть отчет только из текущего месяца).
Аккаунт содержит следующую информацию:
	- ФИО
	- логин
	- пароль
	
Организация
Содержит следующую информацию:
- Название
- Описание

Структурное подразделение
Содержит следующую информацию:
- Название
- Описание
- Руководитель(-и) подразделения (из числа менеджеров)

Отчет
	Содержит следующую информацию:
		- Дата отчета;
		- Время отчета;
		- Количество отработанных часов;
		- Описание выполненных работ.

Менеджер должен иметь возможность просмотреть отчеты как по отдельному сотруднику (группировка по структурным подразделениям), так и по структурному подразделению (группировка по сотрудникам).

Сотрудник, перед добавлением отчета, должен иметь возможность указать к какому из подразделений будет принадлежать отчет (см. Группировка подразделений/сотрудников).

Список отчетов:
	- как для сотрудников, так и для менеджеров, отображается в виде таблицы со следующими колонками:
		- Дата
		- Сотрудник (только для менеджеров)
		- Количество часов
		- Описание выполненных работ;
- отображает по 10 записей на странице с разбивкой на страницы;
- может быть отфильтрован по сотруднику (только для менеджеров);
- должен содержать общее количество часов по выбранному периоду и количество часов на странице.</pre>